{% extends 'base.html' %}
{% block conteudo %}
<div class="container mt-5">
    <h1 class="text-center">Resultado da Pesquisa</h1>
    <div class="d-flex justify-content-center row mt-5">
      {% for resultado in resultados %}
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{resultado.foto}}" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title text-center">{{resultado.nome}}</h5>
              <p class="card-text font-weight-light text-center">{{resultado.processo}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}