{% extends 'base.html' %}
{% block conteudo %}
<div class="container mt-5">
    <h1>Resultados da Pesquisa</h1>
    <div class="row">
      {% for resultado in resultados %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{resultado.foto}}" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">{{resultado.nome}}</h5>
              <p class="card-text">{{resultado.processo}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}