{% extends 'base.html' %}
{% block conteudo %}

<h1 class="text-center m-5" style="font-size: 1.5rem;">Saiba tudo sobre o que você pode cultivar na sua horta.</h1>



<div class="d-flex justify-content-center flex-wrap">
  <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="/media/alface.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Alface</h5>
      <p class="card-text">Não é cabelo, mas pode ser lisa ou crespa...</p>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
        Saiba mais
      </button>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">A queridinha das hortaliças</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>Alface</h2>
            <p>A alface é uma verdura originária do leste do Mediterrâneo, sendo utilizada na alimentação há muito tempo, desde 500 a.C. Muito popular, é cultivada praticamente no mundo todo, sendo ainda bastante nutritiva. Foi trazida para o Brasil pelos portugueses, no século XVI. Seu nome científico é Lactuca Sativa, e é uma hortaliça pertencente à família Asterácea, a mesma da chicória, da escarola, do almeirão e da alcachofra.
            </p>
            <p>
            As folhas de alface encontram-se prontas para o consumo quando estão frescas, ou seja, quando possuem a aparência brilhante, firme e sem áreas escuras. Quando estão com as folhas amassadas ou amareladas, é melhor não consumi-la.
            </p>
            <p>
              A alface possui baixo teor calórico, já que cada 100 g dela contém somente 15 calorias. A folha contém vitamina A, vitamina C, niacina (vitamina do complexo B) e minerais como cálcio, fósforo e ferro. É rica também em zinco, cobre, enxofre, silício, ácido fólico e clorofila. O seu consumo auxilia no funcionamento da visão, no processo de cicatrização, no combate de infecções, além de fortalecer ossos e dentes. Também funciona como calmante, combate a insônia e tem efeito diurético e laxante.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="/media/cebolinha.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Cebolinha</h5>
      <p class="card-text">Pala plantal na sua holta!</p>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cebolinha">
        Saiba mais
      </button>
    </div>
  </div>

  <div class="modal fade" id="cebolinha" tabindex="-1" role="dialog" aria-labelledby="cebolinhaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Cebolinha: para cortar sem chorar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>Cebolinha</h2>
            <p>Cebolinha é muito bom picadinha...
            </p>
            <p>
            Use à vontade.
            </p>
            <p>
              Fica bom até no sushi.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="/media/couve.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Couve Manteiga</h5>
      <p class="card-text">Evite passar no pão. Não dá certo.</p>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#couve">
        Saiba mais
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="couve" tabindex="-1" role="dialog" aria-labelledby="couveTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Versatilidade é tudo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Couve</h2>
          <p>Você pode fazer refogadinha...hmmm
          </p>
          <p>
          Ou mesmo cortadinha como salada e um pouco de limão.
          </p>
          <p>
            Falando nisso... que tal um suco verde de limão com couve e hortelã? Fica divino.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}