{% extends 'base.html' %}
{% block conteudo %}
    
<div class="d-flex justify-content-center align-items-center h-100">
    <div>
        <div class="flex-fill p-2">
            <form class="flex-fill" action="{% url 'cadastro'%}" method="POST">
                {% csrf_token %}
                <div style="text-align: center;" class="container-fluid">
                    <h1 class="text-center font-weight-bold mb-4 mt-5">Cadastre-se</h1>
                    <p>Junte-se a nossa comnunidade! É rápido e fácil.</p>
                    <div class="input-group input-group-lg mb-3 mt-5">
                        <input type="text" placeholder="Digite um nome de usuário" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-lg" name="usuario" required>
                    </div>
    
                    <div class="input-group input-group-lg">
                        <div class="input-group input-group-lg ">
                            <input type="password" placeholder="Digite uma senha" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-lg" name="senha" required>
                        </div>
                        <input type="submit" value="Cadastrar" class="btn btn-lg btn-block mt-3" style="background-color: #606c38; color: white;"></input>
                    </div>
        
                    {%if error_message%}
                        <div class="alert alert-danger mt-5" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}

                    {%if sucessful_message %}
                        <div class="alert alert-success mt-5" role="alert">
                            {{sucessful_message}}
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>    
    </div>
</div>

{% endblock %}