{% extends 'base.html' %}
{% block conteudo %}

 

    <section>
        {% if horta %}
        <h1>Sua Horta</h1>
        <p>Nome: {{ horta.nome }}</p>
        <p>Descrição: {{ horta.descricao }}</p>
        <br>
        <br>
        {% if culturas  %}
        <div class='cards'>
            <ul style='list-style-type: none;'>
                <h2>Lista de Culturas</h2>
                {% for cultura in culturas %}
                <li>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{cultura.name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{cultura.type}}</h6>
                          <p class="card-text">{{cultura.desc}}</p>
                          <form action="{% url 'excluir_cultura' cultura.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Excluir</button>
                            </form>
                        </div>
                      </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p>Cadastre sua cultura!!!!</p>
        {% endif %}
    </section>

    
    <section>
        <h3>Insira sua Cultura</h3>
        <form action={% url 'inserir_cultura' %} method='POST'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome da Cultura</label>
                <input name="nome_cultura" type="text" placeholder="Tomate">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Tipo</label>
                <input name="tipo_cultura" type="text" placeholder="Fruta">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
                <textarea name="desc_cultura" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <input type="submit" value="Adicionar">
            </div>
        </form>      
    {% else %}
        <div class="d-flex justify-content-center align-items-center h-100 mt-5">
            <div class="d-flex flex-wrap">
                <div class="d-flex flex-fill p-2 justify-content-center">
                    <img src="/media/sammy-man-gardener-digging-up-a-carrot.png" class="img-fluid pt-3" alt="Imagem responsiva">
                </div>
                <div class="card border-0 text-center pl-3 pt-3">
                    <div class="card-body">
                    <h1 class="card-title">Vamos plantar!</h1>
                    <h5 class="card-text pt-4">Deseja criar uma horta? Comece aqui a planejar o que será plantado.</h5>
                    <a href="{% url 'criar_horta' %}" class="btn btn-lg btn-block mt-5 mb-5 btn-success">Criar uma horta</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <h1 class="display-4">Confira nossas dicas!</h1>
            <p class="lead">Consulte nosso guia prático para gerenciar sua horta! Compartilhe essas dicas com a sua comunidade!</p>
            <hr class="my-4">
            <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Leia mais</a>
          </div>
    {% endif %}
    </section>
{% endblock %}