<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b144170c7e.js" crossorigin="anonymous"></script>
    <title>Raízes da Comunidade</title>
    <link rel="icon" type="image/x-icon" href="/media/icone.png">
    <style>
      body {
        overflow-y: auto; 
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm p-3 mb-5 bg-white rounded">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="/media/icone.png" alt="logotipo" style="width: 3rem;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Início<span class="sr-only">(Página atual)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'atividade' %}">Registre as atividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cultivo' %}">Cultivo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'minha_horta' %}">Horta</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'info-uteis' %}">Informações úteis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'forum' %}">Forum</a>
          </li>
        </li>
        </ul>
        <div class="ml-md-auto d-flex align-items-end flex-column">
          {% if user.is_authenticated %}
            <h5>Bem-vindo(a), {{user.username}}</h5>
            <a class="btn btn-success"  href="{% url 'logout' %}">Sair <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i></a>
          {% else %}
            <a class="nav-link btn btn-success" href="{% url 'login' %}">Entrar <i class="fa-solid fa-arrow-right-to-bracket" style="color: #ffffff;"></i></a>
          {% endif %}
        </div>
      </div>
    </nav>

    <main class="mb-5 mt-5 pb-5 pt-5">
    {% block conteudo %}
    
    {% endblock %}
    </main>

    <footer class="bg-body-tertiary text-center w-100 fixed-bottom">
      <div class="container p-4"></div>
      <div class="text-center p-3 bg-light">
        © 2024 Projeto Integrador Univesp:
        <a class="text-body" href="#">Raízes da Comunidade</a>
      </div>
    </footer>
    
    <script>

      // Pegando a lista de <li> do menu
      var listaDeliNav = document.getElementsByClassName('nav-item')

      // Navegando em cada <li>
      for (var i = 0; i < listaDeliNav.length; i++) {
        var liNav = listaDeliNav[i];

        // Pegando o primeiro <a> dentro desse li
        var link = liNav.getElementsByTagName('a')[0];
        
        // pegando o href do <a>
        var href = link.getAttribute('href');
        
        // Se o href for igual ao path atual presente na barra de endereco do navegador sera adicionado a classe active
        if (href == window.location.pathname) {
          liNav.classList.add('active');
          liNav.classList.add('bg-light');
        } else { // Caso contrario sera removido a classe active
          liNav.classList.remove('active');
          liNav.classList.remove('bg-light');
        }        
      }

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>