{% extends 'base.html' %}
{% block conteudo %}
<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 class="display-4">Registre as atividades <i class="fa-solid fa-calendar-check fa-2xs" style="color: #949494;"></i></h1>
      <p class="lead">Planeje e registre suas contribuições junto a comunidade! Aqui você poderá registrar e visualizar as atividades relacionadas a horta!</p>
    </div>
  </div>

    <div class="container">
        <div style="text-align: left;" class="container-fluid"> 
            <button type="button" class="btn btn-success btn-lg mb-5" data-toggle="modal" data-target="#modalAtividade" data-whatever="@mdo">Adicionar Atividade <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i></button>
        </div>
    
        
        <table class="table table-bordered table-strip table-hover">
            <tr>
                <th>id</th>
                <th>Atividade</th>
                <th>Data</th>
                <th>Nome</th>
            </tr>
             {% for atividade in atividades %}
                <tr>
                <td>{{atividade.id}}</td>
                <td>{{atividade.atividade}}</td>
                <td>{{atividade.dt_atividadedb}}</td>
                <td>{{atividade.usuario_id}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="modalAtividade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registre a atividade</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nome-atividade" class="col-form-label">Nome da atividade:</label>
                            <input name="atividade" id="nome-atividade" class="form-control" placeholder="Ex.: Adubar a terra" type="text" required onchange="this.value = this.value.trim()">
                        </div>
                        <div class="form-group">
                            <label for="data-atividade" class="col-form-label">Data de realização:</label>
                            <input name="dt_atividade" id="data-atividade" class="form-control" type="date" required onchange="this.value = this.value.trim()" onkeydown="return false">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar <i class="fa-solid fa-circle-xmark" style="color: #ffffff;"></i></button>
                    <button type="submit" class="btn btn-success">Salvar <i class="fa-solid fa-circle-check" style="color: #ffffff;"></i></button>
                </div>
            </form>
        </div>
    
{% endblock %}
