{% extends 'base.html' %}
{% block conteudo %}

<div class="h-100">
    <div style="text-align: center;" class="container-fluid"> 
        <h1 class="text-center mt-5" style="font-size: 1.5rem;">Planeje e registre suas contribuições junto a comunidade! Aqui você poderá registrar e visualizar as atividades relacionadas a horta!</h1>
        <button type="button" class="btn btn-lg m-5" style="background-color: #90A246; color: white;" data-toggle="modal" data-target="#modalAtividade" data-whatever="@mdo">Adicionar Atividade</button>
    </div>

    <div class="container">
        <table class="table table-bordered table-strip table-hover">
            <tr>
                <th>id</th>
                <th>Atividade</th>
                <th>Data</th>
                <th>Ações</th>

            </tr>
             {% for atividade in atividades %}
                <tr>
                <td>{{atividade.id}}</td>
                <td>{{atividade.atividade}}</td>
                <td>{{atividade.dt_atividade}}</td>
                <td style="width: 2rem;">
                    <div class="dropdown">
                    <button class="btn btn-light btn-lg" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-ellipsis" style="color: #90A246;"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button"><i class="fa-solid fa-pen" style="color: #999c9c;"></i>  Editar</button>
                        <button class="dropdown-item" type="button"><i class="fa-solid fa-trash" style="color: #999c9c;"></i>  Excluir</button>
                    </div>
                  </div>
                    
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="modalAtividade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registre a atividade</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nome-atividade" class="col-form-label">Atividade:</label>
                            <input name="atividade" id="nome-atividade" class="form-control" type="text" required onchange="this.value = this.value.trim()">
                        </div>
                        <div class="form-group">
                            <label for="data-atividade" class="col-form-label">Data:</label>
                            <input name="dt_atividade" id="data-atividade" class="form-control" type="date" required onchange="this.value = this.value.trim()">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn" style="background-color: #90A246; color: white;">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

    
{% endblock %}