{% extends 'base.html' %}
{% block conteudo %}

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4">Fórum <i class="fa-solid fa-users fa-2xs" style="color: #949494;"></i></h1>
    <p class="lead">Compartilhe idéias, soluções e desafios relacionados as hortas com a sua comunidade!</p>
  </div>
</div>


<section>
  <div class="container">
    <button type="button" class="btn btn-success btn-lg mb-5" data-toggle="modal" data-target="#modalForum" data-whatever="@mdo">Criar Tópico <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i></button>


  {% if topicos %}

    {% for topico in topicos  %}
      <div class="media border p-2 mb-3">
        <div class="d-flex flex-column">
          <img class="img-thumbnail" src="/media/user-solid.svg" alt="imagem usuario">
          <span class="text-center">{{topico.criador}}</span>
        </div>
        <div class="media-body ml-3">
          <a href={% url "topico" pk=topico.id %}><h5 class="mt-0">{{topico.titulo}}</h5></a>
          <p>{{topico.descricao}}</p>
          <p><em>{{topico.data}}</em></p>
        </div>
      </div>
    {% endfor %}

  {% else %}
    <div class="alert alert-warning text-center" role="alert">
      Não há tópicos para serem exibidos!
    </div>
  {% endif %}
  </div>
</section>

</div>

<div class="modal fade" id="modalForum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action= {% url "criar_topico" %} method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nomeTopico" class="col-form-label">Assunto: </label>
            <input name="nomeTopico" id="nomeTopico" class="form-control" placeholder="Título do Assunto" type="text" required onchange="this.value = this.value.trim()">
          </div>
          <div class="form-group">
            <label for="textoTopico" class="col-form-label">Mensagem: </label>
            <textarea name="textoTopico" id="textoTopico" rows="3" class="form-control" placeholder="Escreva aqui a sua mensagem" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar <i class="fa-solid fa-circle-xmark" style="color: #ffffff;"></i></button>
          <button type="submit" class="btn btn-success">Postar <i class="fa-solid fa-circle-check" style="color: #ffffff;"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock %}
